@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}
.header
{
    width: 100%;
    height: 80px;
    color: #fff;
    padding: 20px;
    background: linear-gradient(to bottom, #1a2980, #26d0ce);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 5px #111;
}
.header .logo {
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.header .logo img{
    width: 50px;
}
.header .logo h1{
    color: #efefef;
    text-transform: capitalize;
    font-weight: 900;
}
.header .menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
.header .menu i{
    font-size: 30px;
    cursor: pointer;
    display: none;
}
.header .menu ul {
    list-style: none;
    transition: .5s ease;
}

.header .menu ul li {
    display: inline-block;
    margin-right: 20px;
    padding: 6px 15px;
}

.header .menu ul li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 16px;
    border: 2px solid transparent;
    border-radius: 12px;
    transition: .5s ease;
}
.header .menu ul li a:hover,
.header .menu ul li a.active{
    background: linear-gradient(to right, #ff00cc, #333399);
    border: 2px solid #eee;
}



/* ==================== Hero Section ================= */
.hero{
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ff00cc, #333399);
    background-size: cover;
    background-position: center;
    
}

.hero .hero-text {
    width: 45%;
    padding: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.hero .hero-text h2{
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.hero .hero-text p{
    font-size: 20px;
    color: #ddd;
    line-height: 1.6;
    text-align: center;
}
.hero .hero-text .btn{
    width: 200px;
    height: 50px;
    background: linear-gradient(to left, #ff00cc, #333399);
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid #eee;
    border-radius: 12px;
    cursor: pointer;
    transition:.5s ease;
    margin-top: 20px;
}
.hero .hero-text .btn:hover{
    color: #39a1d3;
    background: linear-gradient(to right, #ff00cc, #333399);
}
.hero .hero-img{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero .hero-img img{
    width: 70%;
    transition:.5s ease;
    animation: animate 10s linear infinite;
}
/* ===================== about ================= */

.about{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about .title{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: xx-large;
}
.about .container{
    width: 80%;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    border-radius: 25px;
}
.about .container .cont{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
}
.cont .img{
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    position: relative;
}
.cont .img .contImg{
    background-image: url('img/about.jpg');
    height: 100%;
    width: 50%;
    border-radius: 25px;
    border: 6px solid #ff00cc;
    padding: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s ease-in-out;
    background-position: center;
    background-size: cover;
    z-index: 2;
}
.cont .img::before{
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 400px;
    height: 400px;
    background-image:url("img/4.png") ;
    background-size: cover;
    background-position: center;
    z-index: 0;
    animation: rot 10s linear infinite;
}
.cont .img::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 400px;
    height: 400px;
    background-image:url("img/4.png") ;
    background-size: cover;
    background-position: center;
    z-index: 0;
    animation: rot2 8s linear infinite;
}
.cont .text {
    width: 90%;
    height: 30%;
    position: relative;
    border-radius: 25px;
    border: 2px solid #ff00cc;
    padding: 20px;
    overflow-x: hidden;
}
.cont .text .head{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 90%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .5s ease;
    gap: 20px;
    border-right: 2px solid transparent;
}
.cont .text .head.toggled {
    left: 25%;
    top: 50%;
    transform: translateX(-50% , -25%);
    border-right: 5px solid #ff00cc;
}

.cont .text .head h3{
    color: #ff00cc;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}
.cont .text .head .cont-btn{
    width: 150px;
    height: 50px;
    background: linear-gradient(to left, #ff00cc, #333399);
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid #eee;
    border-radius: 12px;
    cursor: pointer;
    transition:.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont .text .head .cont-btn:hover{
    color: #56c9ff;
    background: linear-gradient(to right, #ff00cc, #333399);
}
.cont .text .info{
    position: absolute;
    top: 50%;
    right: -100%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 90%;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .5s ease;
    color: #333399;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
}
.cont .text .info.inOut{
    right: -350px;
    
}
@keyframes rot{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes rot2{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
























































@media (max-width: 991px){
    .header .menu i{
        display: block;
    }
    .header .menu ul{
        display: none;
    }
    .header .menu ul.show{
        display: block;
        position: absolute;
        top: 80px;
        right: 20px;
        background: #333;
        width: 200px;
        padding: 10px;
        height: 300px;
        border-radius: 12px;
        z-index: 100;
        transition: .5s ease;
    }
    .header .menu ul.show li{
        padding: 10px 20px;
        margin-bottom: 20px;
    }
    .hero .hero-img{
        display: none;
    }
    .hero .hero-text{
        width: 100%;
    }
    .about .container{
        width: 90%;
    }
    .about .cont .img img{
        width: 90%;
    }
    .cont .img::before{
        display: none;
    }
    .cont .img::after{
        display: none;
    }
    .cont .text .head h2{
        font-size: 30px;
    }
}
@media (max-width: 450px){
    .about .title{
        font-size: 20px ;
    }
    .about .cont .img{
        height: 40%;
    }
    .about .cont .text {

    }
}

@keyframes animate{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(0);
    }
    75%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0);
    }
}